<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    
    <!-- tab -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    
    <!-- jQuery DataTable -->
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    
    <!-- bootstrap dialog -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
</head>

<script>

function createQueryList(){
    //Create and append select list
    var selectList = document.createElement("select");
    selectList.id = "queryList";
    document.getElementById("queryDiv").appendChild(selectList);

    //Create and append the options
    for (var i = 0; i < 8; i++) {
        var option = document.createElement("option");
        option.value = i;
        option.text = 'Query 2.' + String.fromCharCode(97 + i);
        selectList.appendChild(option);
    }
};

function hasInfo(columns, infoType){
    var i = 0;
    var ret = [];
    for(i = 0; i < columns.length; i++){
        if('idType' in columns[i] && columns[i].idType === infoType){
            ret.push(i);
        }
    }
    return ret;
};

function search() {
    var keyword = $("#searchBox").val();
    var entity = $("#searchEntity :checked").val();
    var data = {keyword: keyword,
                entity: entity};
    
    console.log(data);
    
    ajaxDrawTable(data, true);
}

function showInfo(cell) {
    console.log(cell);
    var id = cell.getAttribute("id").substring(2);
    var idType = cell.getAttribute("id").substring(0, 1);
    var title = $(cell).find("a").text();
    $.ajax({
        type: "POST",
        dataType: "text",
        url: "{{ url_for('get_info') }}",
        data: {[idType]: id},
        success: function(data, status, xhr) {
            console.log(data);
            BootstrapDialog.show({
                title: title,
                message: data,
            });
        },
    });
    return false;
};
/*
function deleteDialog(cell) {
    console.log(cell);
    var id = cell.getAttribute("id").substring(2);
    var idType = cell.getAttribute("id").substring(0, 1);
    var title = $(cell).find("a").text();
    $.ajax({
        type: "POST",
        dataType: "text",
        url: "{{ url_for('delete') }}",
        data: {[idType]: id},
        success: function(data, status, xhr) {
            console.log(data);
            BootstrapDialog.show({
                title: title,
                message: data,
            });
        },
    });
};
*/
function ajaxDrawTable(data, canDelete){
    $.ajax({
        type: "POST",
        dataType: "json",
        data: data,
        url: "{{ url_for('get_data') }}",
        success: function (data) {
            var table = document.createElement("table");
            table.id = "result";
            table.class = "display";
            
            var resultDiv = $("#resultDiv");
            resultDiv.empty();
            resultDiv.append(table);
            
            console.log(data);
            $("#result").DataTable({
                data: data.data,
                columns: data.columns,
                columnDefs: [
                    {
                        /* delete and follow-up search of persons */
                        targets: hasInfo(data.columns, "person"),
                        createdCell: function (td, cellData, rowData, row, col){
                            if("personId" in rowData && data.columns[col].data in rowData){
                                $(td).attr("id", "p_" + rowData.personId.toString());
                                var content = "";
                                if(canDelete){
                                    content = "<button name='deleteButton'>delete</button> ";
                                }
                                $(td).html(content + "<a onclick='showInfo(this.parentElement);'>" + cellData + "</a>");
                            }
                        },
                    },
                    {
                        /* delete and follow-up search of films */
                        targets: hasInfo(data.columns, "film"),
                        createdCell: function (td, cellData, rowData, row, col){
                            if("filmId" in rowData && data.columns[col].data in rowData){
                                $(td).attr("id", "f_" + rowData.filmId.toString());
                                var content = "";
                                if(canDelete){
                                    content = "<button name='deleteButton'>delete</button> ";
                                }
                                $(td).html(content + "<a onclick='showInfo(this.parentElement);'>" + cellData + "</a>");
                            }
                        },
                    },
                    {
                        /* missing values */
                        targets: [...Array(data.columns.length).keys()],
                        defaultContent: "",
                    },
                ],
            });
        },
    });
};

$( document ).ready( function() {

    createQueryList();
    
    $("#tabDiv").tabs();
    
    $("#searchButton").click(search);
    
    $("#queryButton").click( function () {
        var queryId = $("#queryList").val();
        console.log(queryId);
        
        var data = {queryId: queryId};
        
        ajaxDrawTable(data);
    });
    
    $("#insertButton").click( function () {
        var name = $("#insertBox").val();
        var entity = $("#insertEntity :checked").val();
        var data = {entity: entity,
                    name: name};
        console.log(data);
        
        $.ajax({
            type: "POST",
            dataType: "text",
            data: data,
            url: "{{ url_for('insert_data') }}",
            success: function (data) {
                var resultDiv = $("#resultDiv");
                resultDiv.empty();
                resultDiv.append(data);
            },
        });
    });
    
    $("#resultDiv").on("click", "[name=deleteButton]", function () {
        var cell = this.parentNode;
        console.log(cell);
        var id = cell.getAttribute("id").substring(2);
        var idType = cell.getAttribute("id").substring(0, 1);
        var title = $(cell).find("a").text();
        $.ajax({
            type: "POST",
            dataType: "text",
            url: "{{ url_for('delete') }}",
            data: {[idType]: id},
            success: function(data, status, xhr) {
                console.log(data);
                BootstrapDialog.show({
                    title: title,
                    message: data,
                });
                search();
            },
        });
    });
});
</script>

<body>
    <div class="container">
        <div id="tabDiv">
            <ul>
                <li><a href="#tabSearch">Search / Delete</a></li>
                <li><a href="#tabQuery">Predefined queries</a></li>
                <li><a href="#tabInsert">Insert data</a></li>
            </ul>
            
            <div id="tabSearch">
                Name/Title: <input type="text" id="searchBox">
                
                <div id="searchEntity">
                    <input type="radio" name="searchEntity" value="person" checked="checked">Person
                    <input type="radio" name="searchEntity" value="film">Film<br>
                </div>
                
                <button id="searchButton">Search</button>
            </div>
            
            <div id="tabQuery">
                <div id="queryDiv"></div>
                
                <button id="queryButton">Go</button>
            </div>
            
            <div id="tabInsert">
                Name/Title: <input type="text" id="insertBox"><br>
                
                <div id="insertEntity">
                    <input type="radio" name="insertEntity" value="person" checked="checked">Person
                    <input type="radio" name="insertEntity" value="film">Film<br>
                </div>
                
                <button id="insertButton">Insesrt</button>
            </div>
        </div>
        
        <div id="resultDiv"></div>
    </div>
</body>

</html>
